<footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left shadow-sm p-3 mb-3 bg-white rounded">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
                <!-- Content -->
                <h5 class="text-uppercase">Catalágos sobre Cursos de Programación.</h5>
                <hr/>
                <p>Ejercicio de RETO, para plasmar los conocimientos Web, que ofrece catálogos de diversos cursos
                    de programación agrupados según los lenguajes o los tipos de aplicaciones a desarrollar.
                </p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->
                <h5 class="text-uppercase">Enlaces de interés</h5>
                <hr/>
                <ul class="list-unstyled">
                    <li><a href="https://www.autentia.com/">Autentia</a></li>
                    <li><a href="https://www.everis.com/spain/es">Everis</a></li>
                    <li><a href="https://www.iberia.com/es/">IBeria</a></li>
                </ul>
            </div>  
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->
                <h5 class="text-uppercase">Lenguajes de Desarrollo</h5>
                <hr/>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://angular.io/">
                            <img src="../../../assets/images/logo-angular_256x256.png" alt="Logo Angular" title="https://angular.io/" />
                            <strong>Angular</strong>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.typescriptlang.org/">
                            <img src="../../../assets/images/logo-typescript_256x256.png" alt="Logo TypeScript" title="https://www.typescriptlang.org/" />
                            <strong>TypeScript</strong>                        
                        </a>
                    </li>
                    <li>
                        <a href="https://getbootstrap.com/">
                            <img src="../../../assets/images/logo-bootstrap_256x256.png" alt="Logo Bootstrap" title="https://getbootstrap.com/" />
                            <strong>Bootstrap</strong>                        
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 mb-2">© 2019 Copyright:
        <a class="effect2" href="https://www.linkedin.com/in/jacinto-rold%C3%A1n-rodr%C3%ADguez-06026589/"> Jacinto Roldán Rodríguez</a>
    </div>
  </footer>
