/* You can add global styles to this file, and also import other style files */
.non-selectable {
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
 }

 