<form id="formCatalogue" ng-submit="submitCountry()">
    <table class="table">
        <caption>{{ sTitleCaption }}</caption>
        <thead>
            <tr>
                <th>Título</th>
                <th>Profesor</th>
                <th>Nivel</th>
                <th>Horas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of aCourses | PagCourses:iPageSize:iPageCurrent">
                <td>{{course.sTitle}}</td>
                <td>{{course.sTeacher}}</td>
                <td>{{course.sLevel}}</td>
                <td>{{course.iNumHours}}</td>
                <td>
                    <div id="divActions">
                        <button (click)="updateCourse(course)" class="btn-common btn-update cursor-pointer">Editar</button>
                        <span> | </span>
                        <button (click)="deleteCourse(course)" class="btn-common btn-delete cursor-pointer">Elimnar</button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#"><span>1</span></a></li>
            <li class="page-item"><a class="page-link" href="#"><span>2</span></a></li>
            <li class="page-item"><a class="page-link" href="#"><span>3</span></a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" (click)='iPageCurrent = iPageCurrent + 1'>
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <a id="linkAdd" href="/courses/add" class="btn-common btn-primary btn-add cursor-pointer">Nuevo Curso</a>
</form>