<h3 class="non-selectable">{{ sTitleHeader }}</h3>
<hr>
<form #formAddCourse="ngForm" (ngSubmit)="onSubmitCourse(formAddCourse)" autocomplete="off">
    <div class="form-group">
        <label class="non-selectable" for="checkState">Activo</label>
        <input type="checkbox" id="checkState">
    </div>
    <div class="form-group">
        <label for="slctTeacher" class="non-selectable">Profesor</label>
        <select id="slctTeacher" class="custom-select" (change)="parseValueSlctTeacher($event.target.value)">
            <option selected>Elija una opción</option>
            <option *ngFor="let sTeacher of aOptsTeacher" [value]="sTeacher">{{sTeacher}}</option>
        </select>
    </div>
    <div class="form-group">
      <label for="inptTitle" class="non-selectable">Título</label>
      <input type="input" class="form-control" id="inptTitle" aria-describedby="titleHelp">
      <!-- <small id="titleHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
        <label for="slctLevel" class="non-selectable">Nivel</label>
        <select id="slctLevel" class="custom-select" (change)="parseValueSlctLevel($event.target.value)">
                <option selected>Elija una opción</option>
                <option *ngFor="let sLevel of aOptsLevel" [value]="sLevel">{{sLevel}}</option>
            </select>
    </div>
    <div class="form-group">
        <label for="inptHours" class="non-selectable">Horas</label>
        <input type="number" class="form-control" id="inptHours" min="5" max="120" step="5" value="5">
    </div>
    <div class="form-group">
        <label for="inptFile" class="non-selectable">Adjuntar temario</label>
        <input type="file" class="form-control-file" id="inptFile">
    </div>
    <button type="submit" class="btn-primary btn-add">Añadir</button>
  </form>
